body {
  background-color: #222;
  color: whitesmoke;
}

.navbar {
  background: #404040;
  padding: 7px 0;
  display: flex;
  justify-content: space-between;
}

.navbar li {
  list-style: none;
  padding: 7px 10px;
}

.navbar li a {
  color: white;
  text-decoration: none;
}

.navbar li a:hover {
  color: aqua;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 20px 0;
}

.card {
    background: whitesmoke;
    color: black;
    padding: 10px;
    margin-bottom: 2px;
}

.input {
  background: wheat;
  padding: 10px;
  text-align: center;
  display: block;
}