{% extends 'layouts/base.html' %}

{% block content %}
  
<h1>About</h1>

<p>Wesite create by {{ username }}</p>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique error expedita quasi eligendi. Ex illum, corporis ut sequi alias, ab commodi dolor nulla voluptatum facere dolore, in aperiam molestiae sapiente non placeat dignissimos! Praesentium eius eligendi, aspernatur minus eaque inventore alias porro dolorem voluptatibus ducimus nostrum maxime cupiditate quasi repellendus quaerat in at quos quia adipisci dolore accusamus animi id incidunt. Eum voluptatum reprehenderit distinctio fugiat veritatis soluta mollitia vel eveniet ipsam repellendus rerum dolore nesciunt eaque quis cum, nemo ipsa odit quidem debitis laboriosam aliquam sunt itaque, maiores ex? Dolorem nam voluptates accusantium laudantium nihil, asperiores illum placeat minus.</p>

{% endblock %}